body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #212121;
    border-bottom: 1px solid #333;
}

.logo img {
    height: 50px;
}

.barra-de-pesquisa {
    display: flex;
    width: 50%;
}

.barra-de-pesquisa input {
    width: 100%;
    padding: 8px;
    background-color: #121212;
    border: 1px solid #333;
    border-radius: 20px 0 0 20px;
    color: #fff;
    font-size: 16px;
}

.barra-de-pesquisa button {
    padding: 8px 15px;
    background-color: #333;
    border: 1px solid #333;
    border-left: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
}

.perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.main-contexto {
    padding: 20px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.video-card {
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    background-color: #333;
}

.titulo {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.canal,
.video-stats {
    font-size: 14px;
    color: #aaaaaa;
    margin: 2px 0;
}